<div class="explore">
    <div class="explore__divider">*****</div>
    <div class="explore__label">Explore the different categories</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>
    </ul>
</div>
