<div class="about">
    <div class="about__divider">*****</div>
    <div class="about__text">
        Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
        on <strong>{{ page.date | date: "%d %B %Y" }}</strong> in
        {% for cat in page.categories %}{% assign catobj = site.data.categories |  where:"slug", cat | first %}<strong>{% if catobj.name %}<a href="{{ "/categories/" | prepend: site.baseurl | append: cat }}/">{{ catobj.name }}</a>{% else %}{{ cat }}{% endif %}/</strong>{% endfor %}
    </div>
</div>
